div{
	flex-direction: column;
	display:flex;
	align-items: center;
	min-height:90vh;
	justify-content: center;
}
p{
	color:#146ef4;
	font-size:14;
	font-family:italic;
	margin-top:5px;
}
button{
	min-width:50px;
	margin-top:10px;
}
a{
	margin-top:10px;
}
h1{
	text-align:center;
	border:2px;
	font-style:bold;
	color:blue;
	
	}
	img{
		size:100px;
		align-items: center;
	}
	input{
		margin-top:2px;
	}